name: Test

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - "*"
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  linux:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
          check-latest: true

      - name: Install latest build tools
        run: |
          echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "build-tools;33.0.2" --sdk_root=${ANDROID_SDK_ROOT}

      - name: Install NDK
        run: |
          echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;25.2.9519653" --sdk_root=${ANDROID_SDK_ROOT}

      - name: Fix Gradle Build
        run: chmod +x ./gradlew

      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug
          gradle-home-cache-cleanup: true

      - name: Uploading Artifact
        uses: actions/upload-artifact@v3
        with:
          path: ./app/build/outputs/apk/debug/app-debug.apk
